streamlit
requests
pypdf
fastapi
uvicorn
sqlalchemy
bcrypt
python-jose
python-multipart
pydantic
email-validator
python-dotenv

langchain
langchain-core
langchain-community
langchain-chroma
langchain-ollama
langchain-text-splitters

beautifulsoup4
chromadb