streamlit
requests
pypdf
fastapi
uvicorn
sqlalchemy
bcrypt
python-jose
python-multipart
pydantic
email-validator
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-qdrant
langchain-openai

qdrant-client
docling
beautifulsoup4
fpdf2